body {
    margin: 20px;
    padding: 20px;
    background-color: #F2F3F4;
    font-family: arial, verdana;
}

#frame {
    border: solid 5px #A4C639;
    box-shadow: 0px 0px 5px 3px #A4C639;

}

#menu {
    padding: 1px 10px;
    background-color: #8DB600;
}

#menu p {
    padding: 5px;
    margin: 0px;
}

#menu a {
    padding: 10px 10px 8px 10px;
    border-top: solid 2px #8DB600;
    border-right: solid 2px #8DB600;
    border-left: solid 2px #8DB600;
    background-color: #A4C639;
    text-decoration: none;
    font-family: arial, verdana;
    font-weight: bold;
    color: #008000;
}

#main {
    height: auto;
    background-color: #A4C639;
    border: solid 2px #8DB600;
}

#main p {
    padding: 10px;
    margin: 0px;
}

#main h1 {
    padding: 10px;
    margin: 0px;
}

#main h2 {
    padding: 0px 10px;
    font-size: 18px;
}

#main table {
    margin: 20px;
    font-family: arial;
    border-spacing: 0px;
    border-left: solid 1px #4B5320;
    border-bottom: solid 1px #4B5320;
}

#main tr td {
    border-right: solid 1px #4B5320;
    border-top: solid 1px #4B5320;
    font-size: 14px;
    padding: 3px;
} 

#main th {
    border-right: solid 1px #4B5320;
    border-top: solid 1px #4B5320;
    font-size: 16px;
    padding: 3px;
    background-color: #8DB600;
    cursor: pointer;
}

#kereso {
    padding: 5px;
    margin: 20px;
    border: dotted 2px #8DB600;
}

#kereso table {
    border: none;
}

#kereso tr td {
    border: none;
    text-align: right;
}

#footer {
    margin: 0px;
    padding: 1px 10px;
    background-color: #8DB600;
}

.error {
    padding: 5px;
    margin: 20px;
    border: solid 2px #A40000;
    width: auto;
    background-color: #E03C31;
    color: #8B0000;
    font-weight: bold;
}

.error p {
    padding: 0px;
    margin: 0px;
}
